body{
  background-color: #319999;
}

.traffic{
  display: flex;
  flex-direction: column;
  vertical-align: center;
  width: 200px;
  height: 500px;
  margin: 0 auto;
  background-color: #131212;
  margin-top: 150px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10%;
}
.red{
  background-color: red;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px rgba(238, 7, 7, 0.77);
  border-radius: 50%;
  opacity: 30%;
}
.green{
  background-color: green;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px rgba(40, 255, 7, 0.77);
  border-radius: 50%;
  opacity: 30%;
}
.yellow{
  background-color: yellow;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px rgba(255, 252, 7, 0.77);
  border-radius: 50%;
  opacity: 30%;
}
.active__yellow{
  opacity: 100%;
}
.active__red{
  opacity: 100%;
}.active__green{
  opacity: 100%;
}

